.board {
    background: rgb(24, 109, 194);
    color: #545454;
    overflow: scroll;

    .grid {
        align-items: flex-start;
        justify-content: flex-start;
    }
}
.columns {
    display: flex;
    flex-direction: row;
    &__item {
        position: relative;
        display: flex;
        width: 220px;
        height: 100%;
        margin: 10px;
        flex-direction: column;
        padding: 10px;
        background: #efebeb;
        border-radius: 4px;
        box-shadow: 4px 1px 15px 1px rgba(0,0,0,.4);

        .header {
            font-weight: bold;
            margin-bottom: 10px;
        }
        .settings {
            position: absolute;
            top: 0;
            right: 10px;
            cursor: pointer;

        }
        .card {
            background: #fff;
            border-radius: 4px;
            padding: 5px;
            margin: 10px 0;
        }
        .add-card {
            margin: 0;
            height: 100%;
            width: 100%;
            margin: 20px 0 0;
            cursor: pointer;
            border: 0;
            background: transparent;
            text-align: left;
            font-size: 14px;
            color: #7f7d7f;
        }
    }

    .add-column {
        margin: 10px;
        background: rgba(239, 237, 237, .2);
        height: 100%;
        width: 120px;
        padding: 10px;
        color: lightgrey;
        border-radius: 4px;
        border: 0;
        font-size: 16px;
        cursor: pointer;
    }
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    &__content {
        background: #efebeb;
        padding: 10px;
        width: 300px;
        text-align: center;
        cursor: default;    
        border-radius: 4px;
    
        input,
        button {
            width: 90%;
            border-radius: 4px;
            border: 0;
            font-size: 16px;
            margin: 10px auto;
            line-height: 44px;
        }
        input {
            padding: 0 10px;
        }

        button {
            border: 0;
            box-shadow: 0 0 9px 3px rgba(0,0,0,.1);
            &:hover {
                box-shadow: 0 0 9px 6px rgba(0,0,0,.1);
                cursor: pointer;
            }
            &:focus {
                transform: scale(.95);
            }
        }
    }
}