.main-nav {
    background: #002F2F;
    height: 50px;
    width: 100%;

    .grid {
        height: 100%;
        width: 100%;
        justify-content: left;
    }

    &__link {
        color: #FFF;
        display: inline-flex;
        margin: 0 10px;
        text-decoration: none;
    }
}
