@import './Pages/Home/home.scss';
@import './Pages/About/about.scss';
@import './Pages/Board/board.scss';
@import './Pages/Weather/weather.scss';


* {
    box-sizing: border-box;
}
body {
    background: #fff;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

.main-nav {
    background: #002F2F;
    height: 50px;
    width: 100%;

    .grid {
        height: 100%;
        width: 100%;
        justify-content: left;
    }

    &__link {
        color: #FFF;
        display: inline-flex;
        margin: 0 10px;
        text-decoration: none;
    }
}


@media only screen and (min-width: 319px) {
    .grid {
        width: 300px;
        padding: 0 10px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 100vh;
    }    
}

@media only screen and (min-width: 479px) {
    .grid {
        width: 460px;
        padding: 0 10px;
    }    
}

@media only screen and (min-width: 559px) {
    .grid {
        width: 540px;
        padding: 0 10px;
        font-size: 16px;
    }    
}

@media only screen and (min-width: 767px) {
    .grid {
        width: 748px;
        padding: 0 10px;
        font-size: 18px;
    }    
}

@media only screen and (min-width: 991px) {
    .grid {
        width: 972px;
        padding: 0 10px;
    }    
}

@media only screen and (min-width: 1119px) {
    .grid {
        width: 1180px;
        padding: 0 10px;
        font-size: 20px;
    }    
}

@media only screen and (min-width: 1367px) {
    .grid {
        width: 1347px;
        padding: 0 10px;
    }    
}

