.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    h1 {
        width: 180px;
        text-align: center;
    }
}

.products {
    background: #e0e0e0;
    border-radius: 5px;
    padding: 15px 0;
    text-align: center;
    width: 90%;
    color: #545454;    

    &__heading {
        margin: 0;
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        margin: 0 5px;
    }

    &__item-price {
        font-style: italic;
        margin: 8px 0;
    }

    &__item-button {
        background: #046380;
        border: 0;
        color: #fff;
        cursor: pointer;
        margin: 0 0 5px;
        padding: 5px;
    }
}

.cart__count {
    border: 1px solid #333;
    border-radius: 5px;
    margin: 20px 5px;
    padding: 10px;
    max-width: 250px;
    align-self: center;
    display: inline-flex;
}

@media only screen and (min-width: 479px) {
    .home {
        h1 {
            width: 180px;
        }
    }    
}
